language: node_js
node_js:
  - "node"
  - "6"

before_install:
  rvm install 2.3.3

install:
  - bundle install
  - npm install

script: 
  - chmod u+x scripts/ci_build
  - scripts/ci_build

after_success:
  - cat _config.yml | grep -ve 'source:\|destination:' > intermediate/_config.yml


env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer

sudo: false

deploy:
  provider: pages
  skip_cleanup: true
  github_token: $GITHUB_ACCESS_TOKEN
  on:
    branch: master
  local_dir: intermediate