<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="page-top" class="index">
  <main class="content-margin">
    {% include navbar.html %}

  <div class="container">
      <div id="blog-intro">
        <div class="blog-header-text">
          <h1 class="title">Latest posts</h1>
        </div>
      </div>
      {% include blog_pagination.html %}

      {% for post in paginator.posts %}

        {% include post_excerpt.html %}
      
      {% endfor %}

      {% include blog_pagination.html %}
    </div>
  </main>
    {% include footer.html %}

    {% include javascript.html %}

  </body>

</html>
